# Datasets e imagens (PESADOS)
Datasets_externos/
results/
proxies/
videos/
*.MP4
*.mp4
*.zip
*.tar
*.gz

# Logs e arquivos temporários
*.log
logs/
__pycache__/
*.pyc

# Pesos de modelos
*.pt
*.onnx
*.engine
